* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: var(--bckgd);
    color: var(--text-color-one);
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/bckgrnd.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    opacity: .5;
    z-index: -1; 
}
