* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: var(--secondary-color);
    color: var(--text-color-one);

    button {
        padding: 10px;
        margin: 10px;
        border: 1px solid var(--primary-color);
        font-family: $font-tstarpro-heavy;
        color: var(--primary-color);
        border-radius: .2rem;
        background-color: var(--secondary-color);
      }

    .navigation {
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: var(--secondary-color);

        h2 {
            font-family: $font-tstarpro-bold;
            font-size: 16px;
            margin: .5rem;
            text-align: center;
            color: var(--title-color);
        }
    }
}

