* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/bckgrnd.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    opacity: 0.7; 
    z-index: -1; 
}
