main {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    overflow: scroll;
    padding-bottom: 4rem;
    scrollbar-width: none;
    
  }
  