// BLOC DES COMMENTAIRES
.commentBox {
    padding-bottom: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    // TITRE
    #title {
      width: 25rem;
      font-family: $font-tstarpro-heavy;
      font-size: 1.5rem;
      color: var(--title-color);
      text-align: left;
    }
    
    // CONTENU DU COMENTAIRE
    .comment {
      width: 25rem;
      margin: 7.5px;
      background-color: var(--bckgd);
      border-radius: .5rem;

      // PHOTO DE PROFIL DU COMMENTATEUR
      img {
        width: 3rem;
        height: 3rem;
      }

      // NOM DU COMMENTATEUR + PUBLIE IL Y A..
      .user {
        width: 100%;
        display: flex;
        padding: 1rem;

        .nameNDate {
          margin: 0 1rem;
          height: 3rem;
          align-items: center;
          justify-content: space-around;
          font-size: .8rem;
        } 
      }

      // TEXTE DU COM
      #comContent {
        p {
          text-align: left;
        }
      }
    }

    // AJOUTER UN COMMENTAIRE
    textarea {
      width: 25rem;
      border-radius: .5rem;
      border: none;
      height: 5rem;
      resize: none;
      background-color: var(--bckgd);
      padding: 10px;
      font-family: $font-tstarpro-regular;
      color: var(--text-color-one);
      margin-top: 3rem;

      &::placeholder {
        color: var(--title-color);
      }
    }

    // ENVOYER
    button {
      border-color: var(--text-color-one);
      color: var(--text-color-one)
    }
  }    