footer {
    position: fixed;
        bottom: 0;
    background-color: var(--bckgd);
    width: 100%;
    color: var(--text-color-one);
    justify-content: space-around;
    display: flex;
    padding: 5px
}