nav {
    overflow-x: scroll;
    background-color: $primary-color;
    scrollbar-width: none;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 199;
    transition: transform 0.3s;

    ul {
        display: flex;
        padding: .5rem 0;
        flex-wrap: nowrap;

        li {
            font-weight: 900;
            color: white;
            list-style: none;
            margin: auto 1rem;
            width: auto;
            white-space: nowrap;
            font-family: 'Roboto', sans-serif;
            font-size: 36px;
        }
    }
}

