nav {
    overflow-x: scroll;
    scrollbar-width: none;
    left: 0;
    width: 100%;
    z-index: 199;
    transition: transform 0.3s;

    ul {
        display: flex;
        padding: .5rem 0;
        flex-wrap: nowrap;

        li {
            font-weight: 900;
            color: var(--primary-color);
            list-style: none;
            margin: auto 1rem;
            width: auto;
            white-space: nowrap;
            font-family: $font-tstarpro-heavy;
            font-size: 20px;
            border: 1px solid var(--primary-color);
            border-radius: 10px;
            padding: .5rem 1rem;
        }

        .selected {
            background-color: var(--primary-color);
            color: var(--secondary-color);
        }
    }
}

