
.subCategories {
    flex-direction: column;
    position: absolute;
    background-color: var(--secondary-color-opacity);
    backdrop-filter: blur(10px); /* Effet de flou */
    -webkit-backdrop-filter: blur(10px); /* Compatibilité avec WebKit */
    width: 100%;
    align-items: center;
    padding: 0 20px;

    // ELEMENT SOUS CATEGORIE
    li {
        list-style-type: none;
        height: 100%;
        width: 100%;
        padding: 30px;
        font-size: 20px;
        border: none;
        border-radius: 0;
        border-bottom: 3px solid var(--primary-color);
        color: var(--title-color);
        font-family: $font-tstarpro-bold;
        text-align: center;
        cursor: pointer;
        z-index: 20;

        // TEXTE
        a {
            color: var(--text-color-one);
            text-decoration: none;
        }
    }

    // FOND DU SOUS MENU TRANSPARENT
    #fond {
        height: 50vh;
    }
}