@font-face {
  font-family: "TStarProBold";
  src: url("../assets/fonts/TStarProBold.ttf") format("truetype");
}
@font-face {
  font-family: "TStarProBoldItalic";
  src: url("../assets/fonts/TStarProBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "TStarProHeavy";
  src: url("../assets/fonts/TStarProHeavy.ttf") format("truetype");
}
@font-face {
  font-family: "TStarProHeavyItalic";
  src: url("../assets/fonts/TStarProHeavyItalic.ttf") format("truetype");
}
@font-face {
  font-family: "TStarProLight";
  src: url("../assets/fonts/TStarProLight.ttf") format("truetype");
}
@font-face {
  font-family: "TStarProLightItalic";
  src: url("../assets/fonts/TStarProLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "TStarProMedium";
  src: url("../assets/fonts/TStarProMedium.ttf") format("truetype");
}
@font-face {
  font-family: "TStarProMediumItalic";
  src: url("../assets/fonts/TStarProMediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "TStarProRegular";
  src: url("../assets/fonts/TStarProRegular.ttf") format("truetype");
}
@font-face {
  font-family: "TStarProRegularItalic";
  src: url("../assets/fonts/TStarProRegularItalic.ttf") format("truetype");
}
:root {
  --bckgd: #fff;
  --text-color-one: #1D1D1B;
  --primary-color: #4CADC9;
  --secondary-color: #e6e6e6;
  --secondary-color-opacity: rgba(230, 230, 230, .85);
  --title-color: #353535;
}

body.dark {
  --bckgd: #1D1D1B;
  --text-color-one: #fff;
  --secondary-color: #353535;
  --secondary-color-opacity: rgba(53, 53, 53, .85);
  --title-color: #e6e6e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: var(--secondary-color);
  color: var(--text-color-one);
}
body .navigation {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--secondary-color-opacity);
}
body .navigation h2 {
  font-family: "TStarProBold";
  font-size: 16px;
  margin: 0.5rem;
  text-align: center;
  color: var(--title-color);
}

header {
  background-color: var(--bckgd);
  color: var(--text-color-one);
  padding: 20px;
  justify-content: space-between;
  width: 100%;
  height: 6rem;
  overflow: hidden;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  align-items: center;
  z-index: 100;
  border-bottom: 1px solid black;
}
header .logo {
  display: flex;
  width: auto;
  justify-content: space-between;
}
header .logo img {
  height: 4rem;
}
header .icons {
  color: var(--text-color-one);
}

nav {
  overflow-x: scroll;
  scrollbar-width: none;
  left: 0;
  width: 100%;
  z-index: 199;
  transition: transform 0.3s;
}
nav ul {
  display: flex;
  padding: 0.5rem 0;
  flex-wrap: nowrap;
}
nav ul li {
  font-weight: 900;
  color: var(--primary-color);
  list-style: none;
  margin: auto 1rem;
  width: auto;
  white-space: nowrap;
  font-family: "TStarProHeavy";
  font-size: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
nav ul .selected {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.content {
  position: sticky;
  overflow: hidden;
  scrollbar-width: none;
  z-index: 10;
}

main {
  position: sticky;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: 4rem;
  scrollbar-width: none;
  font-family: "TStarProRegular";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 8rem;
  padding: 0 40px;
  overflow: hidden;
}
main li {
  list-style-type: none;
}
main h1 {
  text-align: center;
  margin: 1rem;
  font-family: "TStarProBold";
}
main img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 20px;
}
main p {
  max-width: 500px;
  margin: auto;
  padding: 1rem;
  font-family: "TStarProRegular";
}
main a {
  cursor: pointer;
  z-index: 10000;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: var(--bckgd);
  width: 100%;
  justify-content: space-around;
  display: flex;
  border-top: 1px solid black;
  z-index: 10000;
}
footer .cont {
  color: var(--text-color-one);
  text-align: center;
  max-height: 79px;
  width: 79px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0.2rem;
  margin: 0.3rem;
}
footer .cont svg {
  cursor: pointer;
}
footer .cont p {
  font-family: "TStarProBold";
  font-size: 12px;
  margin: 10px;
  z-index: 2;
  white-space: nowrap;
}

.subCategories {
  flex-direction: column;
  position: absolute;
  background-color: var(--secondary-color-opacity);
  width: 100%;
  align-items: center;
  padding: 0 20px;
}
.subCategories li {
  list-style-type: none;
  height: 100%;
  width: 100%;
  padding: 30px;
  font-size: 20px;
  border: none;
  border-radius: 0;
  border-bottom: 3px solid var(--primary-color);
  color: var(--title-color);
  font-family: "TStarProBold";
  text-align: center;
  cursor: pointer;
  z-index: 20;
}
.subCategories li a {
  color: var(--text-color-one);
  text-decoration: none;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.articles .article {
  height: 21.5rem;
  width: 18rem;
  overflow: hidden;
  margin: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.articles .article img {
  width: 100%;
  height: calc(100% - 7rem);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.articles .article .defaultImage {
  width: 100%;
  height: 100%;
  background-color: var(--bckgd);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.articles .article .defaultImage svg {
  width: 15rem;
  height: 11rem;
}
.articles .article h2 {
  height: 7rem;
  width: 100%;
  background-color: var(--bckgd);
  color: var(--text-color-one);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "TStarProHeavy";
  font-size: 20px;
  padding: 10px;
}/*# sourceMappingURL=main.css.map */